:root {
    --background-color: #E6E9EC;
    --main-color: #EDAE49; 
    --secondary-color: #392F5A;
    --accent-color: #EA2B1F;
    --text-color: #343633;
}

*, ::after, ::before {
    box-sizing: border-box;
    border-collapse: collapse;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.hidden {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    align-items: center;
}

header {
    margin-top: 15px;
    font-size: 2.5rem;
    word-spacing: 30px;
    font-family: 'Roboto', sans-serif;
}

section {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: var(--text-color);
    font-family: 'Space Mono', sans-serif;
}

button {
    font-size: 2em;
    font-weight: bold;
    border-radius: 5px;
}

.crossed {
    color: var(--accent-color)
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    color: var(--text-color); 
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
}

i.fa-github {
    font-size: 1.5rem;
}

i::before {
    color: var(--secondary-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

.bold {
    font-weight: bold;
}

.game-players {
    display: flex;
    width: 600px;
    justify-content: space-between;
    font-size:  1.25rem;
}

.game-players > * {
    flex: 1;
}

.player-mark {
    font-size: 1rem;
}

.score {
    display: flex;
    justify-content: center;
    padding-left: 10px;
    letter-spacing: 10px;
    font-size: 2.25rem;
}

.player.one {
    text-align: start;
}

.player.two {
    text-align: end;
}

.game-field {
    display: grid;
    grid: repeat(3, 100px) / repeat(3, 100px);
    gap: 5px;
}

.game-cell {
    border: none;
    background-color: var(--background-color);
}

.game-cell:hover {
    background-color: var(--main-color);
    cursor: pointer;
}

.result-screen {
    display: none;
    position: absolute;
    width: 100%;
    min-height: 100%;
    background-color: #34363380;
    z-index: 2;
}

.container {
    display: flex;
    align-items: center;
}

.result-display {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    width: 400px;
    height: 200px;
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    text-align: center;
    box-shadow: 3px 3px 3px #343633;
}

.winner-name {
    display: inline-block;
    font-weight: bold;
    font-size: 2.5rem;
}

.active {
    display: flex;
    justify-content: center;
    align-items: center;
}


 /* End game / restart btns */

.game-icons {
    position: absolute;
    top: 3%;
    left: 65%;
    pointer-events: none;
}

.game-icons>.container {
    width: 500px;
    pointer-events: none;
}

.icon {
    position: relative;
    right: 0%;
    width: 150px;
    height: 35px;
    margin-left: auto;
    font-size: 1.2em;
    z-index: 1;
    text-align: end;
    padding-right: 10px;
    background-color: white;
    border: none;
    pointer-events: none;
}

.game-icons>.container:first-child>.icon {
    font-size: 1.6em;
}

.icon-descr {
    position: relative;
    left: 70%;
}

.game-icons>.container:hover>.icon {
    width: 50px;
    transition: 0.8s;
}

.game-icons>.container:hover>.icon>i::before {
    transition: 0.8s;
    color: var(--accent-color);
    font-size: 1.5em;
}

i::before {
    color: var(--text-color);
    pointer-events: auto;
}

/* Starting menu section */